# Entorno virtual
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDEs
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y bases de datos locales
*.log
*.sqlite3
*.db

# Archivos de configuración local
*.env
.env.local
.env.*.local

# Docker overrides
docker-compose.override.yml
docker-compose.override.*.yml

# Distribución / empaquetado
dist/
build/
*.egg-info/
*.egg
__pypackages__/

# FastAPI / Uvicorn
*.pid
